<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <!-- Log pattern -->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n</Property>

        <!-- Log directory + file -->
        <Property name="LOG_DIR">target/logs</Property>
        <Property name="LOG_FILE">${LOG_DIR}/framework.log</Property>
    </Properties>

    <Appenders>

        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling file (daily + size based) -->
        <RollingFile name="FileLogger"
                     fileName="${LOG_FILE}"
                     filePattern="${LOG_DIR}/framework-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <!-- Rotate daily -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- Also rotate if it grows too big -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Reduce Selenium noise -->
        <Logger name="org.openqa.selenium" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Reduce WebDriverManager noise -->
        <Logger name="io.github.bonigarcia" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Cucumber noise control -->
        <Logger name="io.cucumber" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Your framework logs -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>